// ------------mobile-first-----------
.header {
  border-bottom: 1px solid #ececec;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.site-nav-list {
  display: none;
}
.our-contacts-list {
  display: none;
}

.mobile-burger-btn,
.mobile-menu-close-btn {
  padding: 0;

  background-color: transparent;
  border: none;
  color: var(--title-color);
  cursor: pointer;

  transition: fill 250ms var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mobile-burger-btn__icon,
.mobile-menu-close-btn__icon {
  width: 40px;
  height: 60px;
}

.mobile-modal-menu {
  position: fixed;
  z-index: 1;
  overflow: scroll;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 480px;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
  @media screen and (min-width: 270px) and (max-width: 380px) {
    padding-top: 38px;
    padding-left: 30px;
    padding-bottom: 38px;
  }

  pointer-events: none;

  background-color: var(--background-color);

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }
  transform: translateY(-101%) translateX(-50%);
  transition: transform 1000ms var(--transition-timing);
}
.is-open {
  pointer-events: auto;

  transform: translateY(0) translateX(-50%);
}

.mobile-modal-menu__list {
  margin-bottom: 302px;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.75;
  letter-spacing: 0.02em;

  color: var(--title-color);
  @media screen and (min-width: 270px) and (max-width: 374px) {
    margin-bottom: 140px;
    font-size: 35px;
    line-height: 1.7;
  }
}
.mobile-modal-menu__contacts-list {
  margin-bottom: 64px;
  // padding-left: 40px;
}

.mobile-modal-menu__tel-link {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  @media screen and (min-width: 270px) and (max-width: 380px) {
    font-size: 30px;
  }
}
.mobile-modal-menu__email-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.mobile-modal-menu__social-list {
  display: flex;
  // padding-left: 40px;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  @media screen and (min-width: 270px) and (max-width: 380px) {
    //display: inline-block;
    font-size: 14px;
  }
}
.mobile-modal-menu__social-item {
  &:not(:last-child) {
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    @media screen and (min-width: 270px) and (max-width: 380px) {
      margin-right: 6px;
    }
  }
}
.mobile-modal-menu__social-link {
  display: block;
  padding-right: 10px;
}
.mobile-menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}
.current {
  color: var(--accent-color);
}
// -------END mobile-first------//
// -------tablet min-width: 768px ------------//
@media screen and (min-width: 768px) {
  .mobile-burger-btn {
    display: none;
  }
  .mobile-modal-menu {
    display: none;
  }

  .main-nav {
    display: flex;
    align-items: center;
  }
  .site-nav-list {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &__link {
      position: relative;
      padding-top: 32px;
      padding-bottom: 32px;
      transition: color 250ms var(--transition-timing);
    }
    &__link:hover,
    &__link:focus {
      color: var(--accent-color);
    }
  }
  .site-nav-list__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .our-contacts-list {
    @media screen and (max-width: 1199px) {
      display: block;
      font-size: 12px;
      line-height: 1.16;

      &__item:not(:last-child) {
        margin-bottom: 10px;
      }
      &__icon {
        height: 12px;
        fill: var(--text-color);
        margin-right: 8px;
      }
    }
    //---------------------//
    font-weight: 500;
    align-items: center;
    margin-left: auto;
    color: var(--text-color);

    &__icon {
      width: 14px;

      fill: inherit;
    }
    &__link {
      fill: var(--text-color);
      display: inline-flex;

      transition: color 250ms var(--transition-timing),
        fill 250ms var(--transition-timing);
    }
    &__link:hover,
    &__link:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
    }
  }
  .current {
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;

      content: "";
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);

      animation-duration: 500ms;
      animation-name: zoomIn;
    }
    @keyframes zoomIn {
      0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
      }
      50% {
        opacity: 1;
      }
    }
  }
}
// -------END tablet min-width: 768px ------------//
// -------desktop min-width: 1200px ------------
@media screen and (min-width: 1200px) {
  .our-contacts-list {
    display: flex;
    font-size: 14px;
    line-height: 1.14;
  }
  .our-contacts-list {
    &__item:not(:last-child) {
      margin-right: 30px;
    }

    &__link {
      display: flex;
      align-items: center;
    }
    &__icon {
      height: 15px;
      margin-right: 10px;
    }
  }
}
// .header {
//   display: flex;
//   border-bottom: 1px solid #ececec;

//   background-color: var(--background-color);

//   /* width: 1600px;
//   margin: 0 auto; */

//   .container {
//     display: flex;
//   }
// }

// .main-nav {     OK
//   display: flex;
//   align-items: center;
// }

// .site-nav-list { OK
//   display: flex;
//   align-items: center;
// }
// .site-nav-list__link {
//   position: relative;
//   display: inline-block;
//   padding-top: 32px;
//   padding-bottom: 32px;
// }

// .site-nav-list__item {
//   font-weight: 500;
//   &:not(:last-child) {
//     margin-right: 50px;
//   }
// }

// .site-nav-list__link,
// .our-contacts__link {
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;

//   transition: color 250ms var(--transition-timing);
//   /*
//   transition-property: color;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   */

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .in-header {
//   font-weight: 500;
// }
/*.our-contacts-list { OK
  display: flex;
  align-items: center;
  margin-left: auto;
}
.our-contacts-list__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}


/*.our-contacts-list__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  color: var(--text-color);
}
.our-contacts-list__icon {
  margin-right: 10px;

  fill: currentColor;
}
*/
/*.phone-icon {
  margin-right: 10px;

  fill: currentColor;
}*/
