.hero-section {
  width: 100vw;
  height: 400px;
  padding-top: 118px;

  text-align: center;
  background-color: #2f303a;

  /* @media screen and (min-width: 480px) {
     width: 480px;
   }
   @media screen and (min-width: 768px) {   Я осатвил ети правила здесь для личного пользования
     width: 768px;
   }
  @media screen and (min-width: 1200px) {
    width: 100%;
    padding-top: 200px;
  }
*/
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/hero-bg-img-480.jpg");
    background-size: cover; //100% 400px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: -webkit-gradient(
          linear,
          left top,
          right top,
          from(rgba(47, 48, 58, 0.4)),
          to(rgba(47, 48, 58, 0.4))
        ),
        url("../img/hero-bg-img-480@2x.jpg");
      background-image: -o-linear-gradient(
          left,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../img/hero-bg-img-480@2x.jpg");
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../img/hero-bg-img-480@2x.jpg");
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/hero-bg-img-768.jpg");
    background-size: 100% 400px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: -webkit-gradient(
          linear,
          left top,
          right top,
          from(rgba(47, 48, 58, 0.4)),
          to(rgba(47, 48, 58, 0.4))
        ),
        url("../img/hero-bg-img-768@2x.jpg");
      background-image: -o-linear-gradient(
          left,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../img/hero-bg-img-768@2x.jpg");
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../img/hero-bg-img-768@2x.jpg");
    }
  }

  @media screen and (min-width: 1200px) {
    min-width: 1200px;
    max-width: 1600px;
    height: 600px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/hero-bg-img-1200.jpg");
    background-size: 1600px 600px /* or 100% 600px*/;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: -webkit-gradient(
          linear,
          left top,
          right top,
          from(rgba(47, 48, 58, 0.4)),
          to(rgba(47, 48, 58, 0.4))
        ),
        url("../img/hero-bg-img-1200@2x.jpg");
      background-image: -o-linear-gradient(
          left,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../img/hero-bg-img-1200@2x.jpg");
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../img/hero-bg-img-1200@2x.jpg");
    }
  }
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

// .hero-section {
//   text-align: center;
//   padding: 200px 0px;

//   background-color: #2f303a;
//   background-image: linear-gradient(
//       to right,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../img/hero-bg-img.jpg);
// }

// .hero-title {
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: #ffffff;
// }

// .hero-button {
//   margin-top: 30px;
// }
