.our-team-section {
  background-color: var(--secondary-background-color);
}
.team-members-list {
  &__img {
    width: 100%;
  }
  &__item {
    max-width: 450px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__title {
    margin-bottom: 10px;
    @include title(16px, 19px, 500, 0.03em);
  }
  &__profession-desc {
    margin-bottom: 15px;
    @include textDescription(16px, 19px, var(--text-color), $letterSpc: 0.03em);
  }

  @media screen and (max-width: 767px) {
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;

    flex-flow: row wrap;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &__item:nth-child(odd) {
      margin-right: 30px;
    }
    &__item:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-left: -30px;
    &__item {
      margin-left: 30px;
    }
  }
}
.team-member-desc-wrapper {
  padding-top: 30px;
  padding-bottom: 24px;

  text-align: center;
  align-items: center;
  background-color: var(--background-color);
}
// .our-team-section {
//   background-color: var(--secondary-background-color);
// }
// .team-members-list {
//   width: 1200px;
//   display: flex;
//   margin-left: -30px;

//   text-align: center;
// }
// .team-members-list__item {
//   margin-left: 30px;

//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
// }
// .team-members-list__title {
//   @include title(16px, 19px, 500);

//   margin-bottom: 10px;
// }
// .team-member-desc-wrapper {
//   padding: 30px 30px;

//   background-color: var(--background-color);
//   border-radius: 0px 0px 4px 4px;
// }

// .team-members-list__profession-desc {
//   @include textDescription(16px, 19px, var(--text-color));
//   margin-bottom: 16px;
// }
