@media screen and (max-width: 1199px) {
  .what-we-r-doing-section {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .our-work-cards-list {
    width: 1200px;
    display: flex;
    margin-left: -30px;
  }
  .our-work-cards-list__item {
    margin-left: 30px;
  }

  .our-work-cards-list__content-wrapper {
    position: relative;

    & > .our-work-cards-list__text {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      padding: 28px 0;

      color: var(--background-color);
      background-color: rgba(47, 48, 58, 0.8);
      text-align: center;

      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}
