.modal-window {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 480px) {
    //top: 52%;
    min-width: calc(100% - 30px);
    max-width: 450px;
    overflow: scroll;
    height: calc(100% - 94px);
  }
  @media screen and (min-width: 481px) {
    min-width: 450px;
    //max-width: 450px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 528px;
    min-height: 580px;
  }

  padding: 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--background-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  scale: 0;

  transform: translateY(-300%) skew(30deg);
}
