h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

svg {
  fill: currentColor;
}

body {
  margin-left: auto;
  margin-right: auto;

  font-family: var(--main-font);
  background-color: #ffffff;
  color: var(--title-color);

  /* width: 1600px; */
}
.section {
  /*width: 100vw; //1600px*/
  margin-right: auto;
  margin-left: auto;
  padding: var(--p-section) 0;
  @media screen and (min-width: 270px) and (max-width: 1199px) {
    padding: 60px 0;
  }
}
.address {
  font-style: normal;
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
}
