:root {
  --main-font: "roboto", sans-serif;
  --secondary-font: "raleway", sans-serif;
  --accent-color: #2196f3;
  --accent-color-opacity: rgba(33, 150, 243, 0.9);
  --title-color: #212121;
  --text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --background-color: #fff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --p-section: 94px;
  --cards-margin: 30px;
  --cards-margin-negative: -30px;
  --icon-fill: #afb1b8;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  /* --pb-section: 94px; */
}
// $main-font: "roboto", sans-serif;
// $secondary-font: "raleway", sans-serif;
// $accent-color: #2196f3;
// $accent-color-opacity: rgba(33, 150, 243, 0.9);
// $title-color: #212121;
// $text-color: #757575;
// $secondary-text-color: rgba(255, 255, 255, 0.6);
// $background-color: #fff;
// $secondary-background-color: #f5f4fa;
// $footer-background-color: #2f303a;
// $p-section: 94px;
// $cards-margin: 30px;
// $cards-margin-negative: -30px;
// $icon-fill: #afb1b8;
// $transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
